@CHARSET "UTF-8";
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#header {
	width: 198px;
	height: 60px;
	margin: 0 auto;
	background:url(../img/logo.png) no-repeat;
	position: relative;
	top: 150px;
}

#main {
	text-align: center;
	position: relative;
	top: 200px;
}

#login input[type='text'],#login input[type='password'] {
	background: #000;
	border: 1px solid #d2d2d2;
	color: #fff;
	font-size: 18px;
	height: 25px;
	line-height: 25px;
	padding: 12px;
	width: 250px;
	border-radius: 3px;
	font-family: Tahoma;
	margin-right: 10px;
}

#login input[type='submit'] {
	width: 150px;
	height: 50px;
	position: relative;
	top: -4px;
	font-family: 黑体;
	color: #fff;
	font-size: 24px;
	background: url(../img/login_button.png);
	border: none;
}

#login input[type='submit']:hover {
	background: url(../img/login_button_hover.png);
}

#login .bottom {
	margin: 0 auto;
	width: 380px;
	text-align: right;
	padding: 10px;
	font-size: 14px;
	color: #eee;
	text-shadow: 1px 1px 1px #333;
}

#login .bottom a {
	color: #eee;
	text-decoration: none;
}

#login .bottom a:hover {
	text-decoration: underline;
}

#login span{

	display: inline-block;
	width: 290px;
	position: relative;
}

#login span label.error{
	color: #f60;
	position: absolute;
	top: 17px;
	right: 20px;

}

#footer {
	height: 40px;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	color: #eee;
	font-size: 13px;
	text-align: center;
	background: #000;
	width: 100%;
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}

.footer_text {
	position: absolute;
	bottom: 0;
	color: #ddd;
	font-size: 13px;
	text-align: center;
	width: 100%;
}

#register input.text {
	width: 270px;
	height: 25px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background: #fff;
}

#register span.star {
	color: red;
}

/*
自定义 jQuery UI 皮肤
*/
.ui-dialog {
	padding:0 !important;
	border-radius:0 !important;
	border:1px solid #666 !important;
}
.ui-dialog-titlebar {
	height:37px !important;
	border-bottom:none !important;
	border-radius:0 !important;
	padding:0 !important;
	background:url(../img/ui_header_bg.png) !important;
	border:1px solid #fff !important;
}
.ui-dialog-title {
	height:37px !important;
	line-height:35px !important;
	font-size:14px !important;
	text-indent:10px !important;
	color:#333 !important;
}
.ui-dialog-content {
	width:100% !important;
}
.ui-dialog-buttonset button {
	height:35px !important;
	background:url(../img/button.png) !important;
	border:none !important;
	color:#fff !important;
}
.ui-dialog-buttonset button:hover {
	background:url(../img/button_hover.png) !important;
}
.ui-dialog-titlebar-close {
	background: url(../img/ui_header_bg.png) !important;
}

#register ol,#verify_register ol {
	margin:0;
	padding:0 0 0 20px;
	font-size:14px;
	color:red;
}
#register ol li {
	height:20px;
}
#register .succ,#verify_register .succ {
	display:inline-block;
	width:28px;
	background:url(../img/success.gif) no-repeat bottom;
}

#register .loading {
	display:inline-block;
	width:28px;
	background:url(../img/loading_form.gif) no-repeat left 70%;
}
#loading {
	background: url(../img/loading.gif) no-repeat 20px center;
	line-height: 22px;
	font-size: 14px;
	font-weight: bold;
	text-indent: 40px;
	color: #00ee00;
}


.ui-dialog {
	overflow:visible;
}
/*自动补全的 CSS 修改*/
   .ui-menu-item {
	   padding:0 !important;
	   width:100% !important;
   }
.ui-menu-item a {
	width:100% !important;
	height:30px !important;
	text-indent:5px !important;
	line-height:30px !important;
	display:inline-block !important;
	color:#666 !important;
}
.ui-menu-item a.ui-state-focus {
	color:#036 !important;
	background:url(../img/menu_bg.png) !important;
}


#verify_register {
    padding:0 0 0 20px;
    position:relative;
    top:15px;
}
#verify_register input[type="text"]{
    width:85px;
    height:25px;
    padding:5px;
    border-radius:3px;
    border:1px solid #ccc;
    background:#fff;
    color:#333;
}
#verify_register a {
    color:#036;
    text-decoration:none;
    font-size:16px;
}
#verify_register a:hover {
    text-decoraiton:none;
}
#verify_register span.star {
    color:red;
}
#verify_register .verifyimg {
    cursor:pointer;
}